*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(224, 62, 116);
    align-items: center;
    text-align: center;
    

}

#container{
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
     
}

#game{
    height: 600px;
    width: 600px;
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   border-radius: 10%;
    gap: 10px;


}


.box{
    height: 150px;
    width: 150px;
    border: 5px solid white;
    border-radius: 20%;
    font-size: 90px;
    text-align: center;
    background-color:  blanchedalmond;
    box-shadow:0cm;
    margin: 10px;
    color: purple;
 
 }


 h1{
     font-size: 50px;
  }

#reset{
    background-color: purple;
    color: blanchedalmond;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
}

#start-again{
       background-color: purple;
    color: blanchedalmond;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
}


.message-container{
  height: 900px;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

 


.hide{
    display: none;
     
}

#message{
    font-size: 40px;
}
